<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/pure-min.css" integrity="sha384-yHIFVG6ClnONEA5yB5DJXfW2/KC173DIQrYoZMEtBvGzmf0PKiGyNEqe9N6BNDBH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.1.0/build/grids-responsive-min.css">
    <title>Task Martinger</title>
</head>
<body>


    <section>
        <div>
            <h1>
                Welcome to <p>Task Martinger</p>
            </h1>
        </div>
    </section>

    <section class="">
        <table class="pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for task in Tasks %}
                <tr>


                    
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td> {{ task.description }}</td>

                    {% if task.status %}
                    <td><img src="https://img.icons8.com/emoji/20/000000/check-box-with-check-emoji.png"/></td>
                    {% else %}
                    <td><img src="https://img.icons8.com/emoji/20/000000/cross-mark-button-emoji.png"/></td>
                    {% endif %}
                    <td>
                        <a href="/complete/{{ task.id }}">Done</a>
                        
                    </td>
                    <td>
                        <a href="/delete/{{ task.id }}">Delete</a>
                    </td>

                </tr>

            {% endfor %}

            </tbody>
        </table>

    </section>

    <section>

        <form class="pure-form" action="/create" method="post">
            <label class=""> Task </labe>
            <fieldset class="pure-group">
                <input type="text" class="pure-input-1-2" placeholder="A title" name="title" required/>
                <textarea class="pure-input-1-2" placeholder="Textareas work too" name="description"></textarea>
            </fieldset>
            <button type="submit" value="Add task" class="pure-button pure-input-1-2 pure-button-primary">Add task</button>
        </form>
    </section>

</body>
</html>